/* * {outline: 3px solid black;} */

body, 
html {
    margin: 0;
} 

body {
    background-color: rgb(255, 244, 232);
}

section, 
.submenu {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;

    color: hsl(24, 100%, 21%) ;
    background-color: rgb(253, 219, 186);

    max-width: 700px;

    border: 3px double black; 
    border-width: 2px 3px;
    border-radius: 10px;


    padding: 10px 20px 20px 40px;
    margin: 10px auto;
}


li:hover{
    background-color:rgb(250, 186, 123);
}

h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 1.7rem;;
}

strong {
    font-size: 17px;
}

a {
    color: hsl(24, 100%, 21%);
    text-decoration-color: hsl(24, 100%, 21%);
}

em {
    font-size: 12px;
}


.underline {
    text-decoration: underline;
    color: black;
}

.nodot {
    list-style-type: none;
   }

.button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(255, 244, 232);

    border: 1px solid rgb(255, 244, 232);
    border-radius: 8px;
    background-color: hsl(24, 100%, 21%);
    padding: 0px 10px;

    margin: 0px auto;

    cursor: pointer;
}



.buttoncenter {
    text-align: center;
} 

.button {
    margin: auto 0px;
}

